# ---------------------------------------------------------
# Unreal Engine 5 - Git Ignore Template
# Author: María Bolaños (Caustics Project)
# ---------------------------------------------------------

### Visual Studio ###
.vs/
*.sln
*.suo
*.user
*.opensdf
*.sdf
*.VC.db
*.VC.opendb
.vsconfig

### Compiled Object Files ###
*.slo
*.lo
*.o
*.obj
*.gch
*.pch

### Compiled Libraries ###
*.so
*.dylib
*.dll
*.lai
*.la
*.a
*.lib

### Executables ###
*.exe
*.out
*.app
*.ipa

### IDE & Build System ###
*.xcodeproj
*.xcworkspace

### Unreal Engine Generated Folders ###
Binaries/
DerivedDataCache/
Intermediate/
Saved/
Build/
Script/
Shaders/Working/
*.VC.db
*.VC.opendb

# Do not ignore blacklist configuration files
!Build/*/
Build/*/**
!Build/*/PakBlacklist*.txt
# Allow icons
!Build/**/*.ico

### Unreal Assets ###
*_BuiltData.uasset
SourceArt/**/*.png
SourceArt/**/*.tga

### Plugins ###
Plugins/**/Binaries/*
Plugins/**/Intermediate/*

### Optional: Editor & Local Cache ###
.vscode/
.idea/
*.log
*.tmp
*.bak
*.old

### Optional: Backup & Crash files ###
*.dmp
*.mdmp
*.psess
*.tlog

### Optional: Unreal Engine Project Files ###
# Uncomment if you want to exclude generated project files
# Caustics.sln
# Caustics/Intermediate/
# Caustics/Saved/

# ---------------------------------------------------------
# END OF FILE
# ---------------------------------------------------------
